*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --Brightorange: hsl(31, 77%, 52%);
    --Darkcyan: hsl(184, 100%, 22%);
    --Verydarkcyan: hsl(179, 100%, 13%);
         /*   (paragraphs)  */
    --Transparentwhite:hsla(0, 0%, 100%, 0.75);
         /*  (background, headings, buttons)   */
    --Verylightgray:hsl(0, 0%, 95%);
}
body{
    font-size: 15px;
    font-family: "Lexend Deca";   
}
h3{
    font-family: "Big Shoulders Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.mainfrm{
    border-radius: 15px;
    width: 85vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.boxone{
    background-color: var(--Brightorange);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.boxtwo{
    background-color: var(--Darkcyan);
}
.boxthree{
    background-color: var(--Verydarkcyan);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
h3, p{
    color: var(--Verylightgray);
}
.image{
   margin: 15% 8% 10% 8%;
}
.pic{
    width: 55px;
    height: 35px;
}
.head{
    margin: 10% 8% 10% 8%;
}
.heading{
    font-size:25px;
}
.pera{
    margin: 15% 8% 10% 8%;
}
.info{
    color: var(--Transparentwhite);
    line-height: 1.5em;
}
.learn{
    margin: 20% 8% 10% 13%;
    padding-bottom: 10%;
    
}
.learn a{
    text-decoration: none;
    background-color: var(--Verylightgray);
    padding: 10px;
    border-radius: 20px;
}
.boxone a{
    color: var(--Brightorange);
}
.boxtwo a{
    color: var(--Darkcyan);
}
.boxthree a{
    color: var(--Verydarkcyan);
}
.boxone .learn a:hover{
    background-color: var(--Brightorange);
    color: var(--Verylightgray);
    border: 2px solid var(--Verylightgray);
}
.boxtwo .learn a:hover{
    background-color: var(--Darkcyan);
    color: var(--Verylightgray);
    border: 2px solid var(--Verylightgray);
}
.boxthree .learn a:hover{
    background-color: var(--Verydarkcyan);
    color: var(--Verylightgray);
    border: 2px solid var(--Verylightgray);
}
@media(max-width:500px){
    .mainfrm{
        grid-auto-flow: column;
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: auto;
    }
     /*insha allah tomorrow will beging*/
     .flexbox{
        height: auto;
        padding: 20px 0 20px 0;
     }
     .boxone{
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
     }
     .boxthree{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
     }
     .mainfrm{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.26) ;
     }
    
}
